NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_XLAYER_CHAIN_ID=1952
NEXT_PUBLIC_FAN_ART_CONTRACT_ADDRESS=
NEXT_PUBLIC_ARG_TOKEN_ADDRESS=
NEXT_PUBLIC_BRA_TOKEN_ADDRESS=
NEXT_PUBLIC_FRA_TOKEN_ADDRESS=
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIyMGNlNDBhNS0zMjA5LTRhYWQtYjk1OS1mY2Q4ODlkOWU1YzUiLCJlbWFpbCI6ImZyZWVkYW5qZXJlbWlhaDZAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjU4MTkzZjgzZDIxZWFkZWVjMDQ3Iiwic2NvcGVkS2V5U2VjcmV0IjoiYjhjNWE1OTkzZjZhOTNkMTBhNWRjZTlmZDc0NzljMGIwMTdiNzgwYzViNzA5OGNkZWVkZjZjMGJmYmQzZDYyOCIsImV4cCI6MTgxMTQ5MzE0MX0.xSrChY1ndbJFDw1x3Rzewx8pH23Y6bpHVMrc-0UjKEI
PINATA_GATEWAY_URL=
